In [2]:
import numpy as np
import pandas as pd

In [4]:
data=pd.read_csv("C:/Users/User/Downloads/DataSet/bank.csv")

data
data.shape

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes
5,42,management,single,tertiary,no,0,yes,yes,unknown,5,may,562,2,-1,0,unknown,yes
6,56,management,married,tertiary,no,830,yes,yes,unknown,6,may,1201,1,-1,0,unknown,yes
7,60,retired,divorced,secondary,no,545,yes,no,unknown,6,may,1030,1,-1,0,unknown,yes
8,37,technician,married,secondary,no,1,yes,no,unknown,6,may,608,1,-1,0,unknown,yes
9,28,services,single,secondary,no,5090,yes,no,unknown,6,may,1297,3,-1,0,unknown,yes
10,38,admin.,single,secondary,no,100,yes,no,unknown,7,may,786,1,-1,0,unknown,yes
11,30,blue-collar,married,secondary,no,309,yes,no,unknown,7,may,1574,2,-1,0,unknown,yes
12,29,management,married,tertiary,no,199,yes,yes,unknown,7,may,1689,4,-1,0,unknown,yes
13,46,blue-collar,single,tertiary,no,460,yes,no,unknown,7,may,1102,2,-1,0,unknown,yes
14,31,technician,single,tertiary,no,703,yes,no,unknown,8,may,943,2,-1,0,unknown,yes
15,35,management,divorced,tertiary,no,3837,yes,no,unknown,8,may,1084,1,-1,0,unknown,yes
16,32,blue-collar,single,primary,no,611,yes,no,unknown,8,may,541,3,-1,0,unknown,yes
17,49,services,married,secondary,no,-8,yes,no,unknown,8,may,1119,1,-1,0,unknown,yes
18,41,admin.,married,secondary,no,55,yes,no,unknown,8,may,1120,2,-1,0,unknown,yes
19,49,admin.,divorced,secondary,no,168,yes,yes,unknown,8,may,513,1,-1,0,unknown,yes
20,28,admin.,divorced,secondary,no,785,yes,no,unknown,8,may,442,2,-1,0,unknown,yes
21,43,management,single,tertiary,no,2067,yes,no,unknown,8,may,756,1,-1,0,unknown,yes
22,43,management,divorced,tertiary,no,388,yes,no,unknown,8,may,2087,2,-1,0,unknown,yes
23,43,blue-collar,married,primary,no,-192,yes,no,unknown,8,may,1120,2,-1,0,unknown,yes
24,37,unemployed,single,secondary,no,381,yes,no,unknown,8,may,985,2,-1,0,unknown,yes
25,35,blue-collar,single,secondary,no,40,yes,no,unknown,9,may,617,4,-1,0,unknown,yes
26,31,technician,single,tertiary,no,22,yes,no,unknown,9,may,483,3,-1,0,unknown,yes
27,43,blue-collar,single,secondary,no,3,yes,no,unknown,9,may,929,3,-1,0,unknown,yes
28,31,admin.,married,secondary,no,307,yes,no,unknown,9,may,538,1,-1,0,unknown,yes
29,28,blue-collar,single,secondary,no,759,yes,no,unknown,9,may,710,1,-1,0,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11132,32,blue-collar,married,secondary,no,-325,yes,yes,unknown,21,may,171,1,-1,0,unknown,no
11133,37,management,married,tertiary,no,1594,yes,no,cellular,17,apr,110,1,260,5,failure,no
11134,58,self-employed,married,tertiary,no,2596,no,no,telephone,18,nov,15,2,-1,0,unknown,no
11135,36,services,divorced,secondary,no,115,no,no,unknown,6,jun,201,1,-1,0,unknown,no
11136,31,management,single,tertiary,no,0,yes,no,cellular,8,sep,76,1,-1,0,unknown,no
11137,49,retired,married,unknown,no,247,no,no,unknown,15,may,213,2,-1,0,unknown,no
11138,32,technician,married,secondary,no,235,yes,no,telephone,28,aug,688,6,-1,0,unknown,no
11139,30,self-employed,single,tertiary,no,2593,no,no,unknown,27,may,662,7,-1,0,unknown,no
11140,55,services,divorced,secondary,no,2166,yes,no,unknown,28,may,23,17,-1,0,unknown,no
11141,32,blue-collar,married,secondary,no,130,yes,no,cellular,6,may,302,2,-1,0,unknown,no
11142,52,admin.,divorced,secondary,no,48,no,yes,cellular,17,nov,591,1,-1,0,unknown,no
11143,38,unemployed,divorced,secondary,no,189,yes,yes,cellular,21,jul,105,2,-1,0,unknown,no
11144,60,retired,married,secondary,no,0,yes,no,unknown,15,may,229,1,-1,0,unknown,no
11145,60,retired,divorced,tertiary,no,-134,no,no,cellular,12,may,243,1,271,4,failure,no
11146,30,admin.,married,secondary,yes,23,no,yes,cellular,4,feb,149,2,-1,0,unknown,no
11147,44,unemployed,married,secondary,no,0,no,no,cellular,21,nov,175,4,-1,0,unknown,no
11148,32,blue-collar,married,secondary,no,1,yes,no,unknown,8,may,102,1,-1,0,unknown,no
11149,46,entrepreneur,married,secondary,no,3317,no,no,cellular,19,nov,231,2,-1,0,unknown,no
11150,34,management,married,secondary,no,355,no,no,cellular,21,aug,314,3,-1,0,unknown,no
11151,40,management,married,tertiary,no,917,yes,no,unknown,20,may,292,1,-1,0,unknown,no
11152,34,housemaid,married,secondary,no,390,yes,no,cellular,15,jul,659,3,-1,0,unknown,no
11153,43,admin.,single,secondary,no,35,no,no,telephone,9,nov,208,1,-1,0,unknown,no
11154,52,technician,married,tertiary,no,523,yes,yes,cellular,8,jul,113,1,-1,0,unknown,no
11155,35,blue-collar,married,secondary,no,80,yes,yes,cellular,21,nov,38,2,172,2,failure,no
11156,34,blue-collar,single,secondary,no,-72,yes,no,cellular,7,jul,273,5,-1,0,unknown,no
11157,33,blue-collar,single,primary,no,1,yes,no,cellular,20,apr,257,1,-1,0,unknown,no
11158,39,services,married,secondary,no,733,no,no,unknown,16,jun,83,4,-1,0,unknown,no
11159,32,technician,single,secondary,no,29,no,no,cellular,19,aug,156,2,-1,0,unknown,no
11160,43,technician,married,secondary,no,0,no,yes,cellular,8,may,9,2,172,5,failure,no
11161,34,technician,married,secondary,no,0,no,no,cellular,9,jul,628,1,-1,0,unknown,no

In [8]:
data['education'].value_counts() #do fo all the columns

secondary    5476
tertiary     3689
primary      1500
unknown       497
Name: education, dtype: int64

In [7]:
data.isnull().sum() #check null values

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
deposit      0
dtype: int64

In [10]:
#data.education = data.education.astype(float)

In [13]:
data['education']=data['education'].replace('unknown',0)
data['education']=data['education'].replace('primary',1)
data['education']=data['education'].replace('secondary',2)
data['education']=data['education'].replace('tertiary',3)
data

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,2,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,2,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,2,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,2,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,3,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes
5,42,management,single,3,no,0,yes,yes,unknown,5,may,562,2,-1,0,unknown,yes
6,56,management,married,3,no,830,yes,yes,unknown,6,may,1201,1,-1,0,unknown,yes
7,60,retired,divorced,2,no,545,yes,no,unknown,6,may,1030,1,-1,0,unknown,yes
8,37,technician,married,2,no,1,yes,no,unknown,6,may,608,1,-1,0,unknown,yes
9,28,services,single,2,no,5090,yes,no,unknown,6,may,1297,3,-1,0,unknown,yes
10,38,admin.,single,2,no,100,yes,no,unknown,7,may,786,1,-1,0,unknown,yes
11,30,blue-collar,married,2,no,309,yes,no,unknown,7,may,1574,2,-1,0,unknown,yes
12,29,management,married,3,no,199,yes,yes,unknown,7,may,1689,4,-1,0,unknown,yes
13,46,blue-collar,single,3,no,460,yes,no,unknown,7,may,1102,2,-1,0,unknown,yes
14,31,technician,single,3,no,703,yes,no,unknown,8,may,943,2,-1,0,unknown,yes
15,35,management,divorced,3,no,3837,yes,no,unknown,8,may,1084,1,-1,0,unknown,yes
16,32,blue-collar,single,1,no,611,yes,no,unknown,8,may,541,3,-1,0,unknown,yes
17,49,services,married,2,no,-8,yes,no,unknown,8,may,1119,1,-1,0,unknown,yes
18,41,admin.,married,2,no,55,yes,no,unknown,8,may,1120,2,-1,0,unknown,yes
19,49,admin.,divorced,2,no,168,yes,yes,unknown,8,may,513,1,-1,0,unknown,yes
20,28,admin.,divorced,2,no,785,yes,no,unknown,8,may,442,2,-1,0,unknown,yes
21,43,management,single,3,no,2067,yes,no,unknown,8,may,756,1,-1,0,unknown,yes
22,43,management,divorced,3,no,388,yes,no,unknown,8,may,2087,2,-1,0,unknown,yes
23,43,blue-collar,married,1,no,-192,yes,no,unknown,8,may,1120,2,-1,0,unknown,yes
24,37,unemployed,single,2,no,381,yes,no,unknown,8,may,985,2,-1,0,unknown,yes
25,35,blue-collar,single,2,no,40,yes,no,unknown,9,may,617,4,-1,0,unknown,yes
26,31,technician,single,3,no,22,yes,no,unknown,9,may,483,3,-1,0,unknown,yes
27,43,blue-collar,single,2,no,3,yes,no,unknown,9,may,929,3,-1,0,unknown,yes
28,31,admin.,married,2,no,307,yes,no,unknown,9,may,538,1,-1,0,unknown,yes
29,28,blue-collar,single,2,no,759,yes,no,unknown,9,may,710,1,-1,0,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11132,32,blue-collar,married,2,no,-325,yes,yes,unknown,21,may,171,1,-1,0,unknown,no
11133,37,management,married,3,no,1594,yes,no,cellular,17,apr,110,1,260,5,failure,no
11134,58,self-employed,married,3,no,2596,no,no,telephone,18,nov,15,2,-1,0,unknown,no
11135,36,services,divorced,2,no,115,no,no,unknown,6,jun,201,1,-1,0,unknown,no
11136,31,management,single,3,no,0,yes,no,cellular,8,sep,76,1,-1,0,unknown,no
11137,49,retired,married,0,no,247,no,no,unknown,15,may,213,2,-1,0,unknown,no
11138,32,technician,married,2,no,235,yes,no,telephone,28,aug,688,6,-1,0,unknown,no
11139,30,self-employed,single,3,no,2593,no,no,unknown,27,may,662,7,-1,0,unknown,no
11140,55,services,divorced,2,no,2166,yes,no,unknown,28,may,23,17,-1,0,unknown,no
11141,32,blue-collar,married,2,no,130,yes,no,cellular,6,may,302,2,-1,0,unknown,no
11142,52,admin.,divorced,2,no,48,no,yes,cellular,17,nov,591,1,-1,0,unknown,no
11143,38,unemployed,divorced,2,no,189,yes,yes,cellular,21,jul,105,2,-1,0,unknown,no
11144,60,retired,married,2,no,0,yes,no,unknown,15,may,229,1,-1,0,unknown,no
11145,60,retired,divorced,3,no,-134,no,no,cellular,12,may,243,1,271,4,failure,no
11146,30,admin.,married,2,yes,23,no,yes,cellular,4,feb,149,2,-1,0,unknown,no
11147,44,unemployed,married,2,no,0,no,no,cellular,21,nov,175,4,-1,0,unknown,no
11148,32,blue-collar,married,2,no,1,yes,no,unknown,8,may,102,1,-1,0,unknown,no
11149,46,entrepreneur,married,2,no,3317,no,no,cellular,19,nov,231,2,-1,0,unknown,no
11150,34,management,married,2,no,355,no,no,cellular,21,aug,314,3,-1,0,unknown,no
11151,40,management,married,3,no,917,yes,no,unknown,20,may,292,1,-1,0,unknown,no
11152,34,housemaid,married,2,no,390,yes,no,cellular,15,jul,659,3,-1,0,unknown,no
11153,43,admin.,single,2,no,35,no,no,telephone,9,nov,208,1,-1,0,unknown,no
11154,52,technician,married,3,no,523,yes,yes,cellular,8,jul,113,1,-1,0,unknown,no
11155,35,blue-collar,married,2,no,80,yes,yes,cellular,21,nov,38,2,172,2,failure,no
11156,34,blue-collar,single,2,no,-72,yes,no,cellular,7,jul,273,5,-1,0,unknown,no
11157,33,blue-collar,single,1,no,1,yes,no,cellular,20,apr,257,1,-1,0,unknown,no
11158,39,services,married,2,no,733,no,no,unknown,16,jun,83,4,-1,0,unknown,no
11159,32,technician,single,2,no,29,no,no,cellular,19,aug,156,2,-1,0,unknown,no
11160,43,technician,married,2,no,0,no,yes,cellular,8,may,9,2,172,5,failure,no
11161,34,technician,married,2,no,0,no,no,cellular,9,jul,628,1,-1,0,unknown,no

In [16]:
for col in data:
    b, c = np.unique(data[col], return_inverse=True) 
    data[col] = c

data

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,41,0,1,2,0,2288,1,0,2,4,8,1021,0,0,0,3,1
1,38,0,1,2,0,469,0,0,2,4,8,1283,0,0,0,3,1
2,23,9,1,2,0,1618,1,0,2,4,8,1246,0,0,0,3,1
3,37,7,1,2,0,2356,1,0,2,4,8,577,0,0,0,3,1
4,36,0,1,3,0,608,0,0,2,4,8,671,1,0,0,3,1
5,24,4,2,3,0,424,1,1,2,4,8,560,1,0,0,3,1
6,38,4,1,3,0,1241,1,1,2,5,8,1140,0,0,0,3,1
7,42,5,0,2,0,968,1,0,2,5,8,1009,0,0,0,3,1
8,19,9,1,2,0,425,1,0,2,5,8,606,0,0,0,3,1
9,10,7,2,2,0,3202,1,0,2,5,8,1197,2,0,0,3,1
10,20,0,2,2,0,524,1,0,2,6,8,782,0,0,0,3,1
11,12,1,1,2,0,733,1,0,2,6,8,1326,1,0,0,3,1
12,11,4,1,3,0,623,1,1,2,6,8,1354,3,0,0,3,1
13,28,1,2,3,0,883,1,0,2,6,8,1069,1,0,0,3,1
14,13,9,2,3,0,1121,1,0,2,7,8,932,1,0,0,3,1
15,17,4,0,3,0,2901,1,0,2,7,8,1052,0,0,0,3,1
16,14,1,2,1,0,1034,1,0,2,7,8,539,2,0,0,3,1
17,31,7,1,2,0,417,1,0,2,7,8,1081,0,0,0,3,1
18,23,0,1,2,0,479,1,0,2,7,8,1082,1,0,0,3,1
19,31,0,0,2,0,592,1,1,2,7,8,511,0,0,0,3,1
20,10,0,0,2,0,1199,1,0,2,7,8,440,1,0,0,3,1
21,25,4,2,3,0,2152,1,0,2,7,8,753,0,0,0,3,1
22,25,4,0,3,0,811,1,0,2,7,8,1404,1,0,0,3,1
23,25,1,1,1,0,279,1,0,2,7,8,1082,1,0,0,3,1
24,19,10,2,2,0,804,1,0,2,7,8,971,1,0,0,3,1
25,17,1,2,2,0,464,1,0,2,8,8,615,3,0,0,3,1
26,13,9,2,3,0,446,1,0,2,8,8,481,2,0,0,3,1
27,25,1,2,2,0,427,1,0,2,8,8,920,2,0,0,3,1
28,13,0,1,2,0,731,1,0,2,8,8,536,0,0,0,3,1
29,10,1,2,2,0,1174,1,0,2,8,8,708,0,0,0,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11132,14,1,1,2,0,194,1,1,2,20,8,169,0,0,0,3,0
11133,19,4,1,3,0,1856,1,0,0,16,0,108,0,235,5,0,0
11134,40,6,1,3,0,2423,0,0,1,17,9,13,1,0,0,3,0
11135,18,7,0,2,0,539,0,0,2,5,6,199,0,0,0,3,0
11136,13,4,2,3,0,424,1,0,0,7,11,74,0,0,0,3,0
11137,31,5,1,0,0,671,0,0,2,14,8,211,1,0,0,3,0
11138,14,9,1,2,0,659,1,0,1,27,1,686,5,0,0,3,0
11139,12,6,2,3,0,2421,0,0,2,26,8,660,6,0,0,3,0
11140,37,7,0,2,0,2204,1,0,2,27,8,21,16,0,0,3,0
11141,14,1,1,2,0,554,1,0,0,5,8,300,1,0,0,3,0
11142,34,0,0,2,0,472,0,1,0,16,9,589,0,0,0,3,0
11143,20,10,0,2,0,613,1,1,0,20,5,103,1,0,0,3,0
11144,42,5,1,2,0,424,1,0,2,14,8,227,0,0,0,3,0
11145,42,5,0,3,0,317,0,0,0,11,8,241,0,246,4,0,0
11146,12,0,1,2,1,447,0,1,0,3,3,147,1,0,0,3,0
11147,26,10,1,2,0,424,0,0,0,20,9,173,3,0,0,3,0
11148,14,1,1,2,0,425,1,0,2,7,8,100,0,0,0,3,0
11149,28,2,1,2,0,2731,0,0,0,18,9,229,1,0,0,3,0
11150,16,4,1,2,0,779,0,0,0,20,1,312,2,0,0,3,0
11151,22,4,1,3,0,1321,1,0,2,19,8,290,0,0,0,3,0
11152,16,3,1,2,0,813,1,0,0,14,5,657,2,0,0,3,0
11153,25,0,2,2,0,459,0,0,1,8,9,206,0,0,0,3,0
11154,34,9,1,3,0,946,1,1,0,7,5,111,0,0,0,3,0
11155,17,1,1,2,0,504,1,1,0,20,9,36,1,155,2,0,0
11156,16,1,2,2,0,362,1,0,0,6,5,271,4,0,0,3,0
11157,15,1,2,1,0,425,1,0,0,19,0,255,0,0,0,3,0
11158,21,7,1,2,0,1149,0,0,2,15,6,81,3,0,0,3,0
11159,14,9,2,2,0,453,0,0,0,18,1,154,1,0,0,3,0
11160,25,9,1,2,0,424,0,1,0,7,8,7,1,155,5,0,0
11161,16,9,1,2,0,424,0,0,0,8,5,626,0,0,0,3,0