In [ ]:
Q.1) print the sum of n numbers.

In [9]:
#print ("Enter the number")
n=int(input("Enter the number: "))
sum=0
for i in range(n):
    n1=int(input("Enter the number: "))
    sum+=n1
print("The total is: ",sum)

Enter the number: 3
Enter the number: 1
Enter the number: 2
Enter the number: 3
The total is:  6

In [ ]:
Q.2) whether the number is prime or not

In [15]:
n=int(input("Enter the number: "))
flag=0
n1=n//2
for i in range(2,n1):
    if(n%i==0):
        print("Number is not prime")
        flag=1
        break
if(flag==0):
    print("Number is Prime")

Enter the number: 7
Number is Prime

In [ ]:
Q.3) Calculate the area of a Triangle.

In [18]:
base=int(input("Enter the value of base of the Triangle: "))
height=int(input("Enter the value of height of the Triangle: "))
area=(base*height)/2
print("The area of the triangle with base %d and height %d is %d. "%(base,height,area))

Enter the value of base of the Triangle: 6
Enter the value of height of the Triangle: 4
The area of the triangle with base 6 and height 4 is 12.

In [ ]:
Q.4) Swap two variables.

In [19]:
n1=int(input("Enter the First number"))
n2=int(input("Enter the second number"))
temp=n1
n1=n2
n2=temp
print("The numbers after swapping are: %d %d"%(n1,n2))

Enter the First number5
Enter the second number6
The numbers after swapping are: 6 5

In [ ]:
Q.5) Solve quadtratic equation

In [25]:
import math
a=int(input("Enter the coefficent of a: "))
b=int(input("Enter the coefficent of b: "))
c=int(input("Enter the coefficent of c: "))

d=(b*b)-(4*a*c)
#d1=math.sqrt()
ans1=(-b+math.sqrt(d))/(2*a)
ans2=(-b-math.sqrt(d))/(2*a)
print("Solutions to the Quadratic Equation are %d,%d"%(ans1,ans2))

Enter the coefficent of a: 2
Enter the coefficent of b: 8
Enter the coefficent of c: 3
Solution to the Quadratic Equation are 0,-3

In [ ]:
Q.6)Check the leap year

In [29]:
y=int(input("Enter the Year: "))
if((y%400==0) or ((y%4==0) and (y%100!=0))):
    print("Leap Year")
else:
    print("Not a Leap Year")

Enter the Year: 2001
Not a Leap Year

In [ ]:
Q.7)Simple calculator

In [6]:
n1=int(input("Enter the First number"))
n2=int(input("Enter the Second number"))

def add(n1,n2):
    res=n1+n2
    print("The answer is",res)

def sub(n1,n2):
    res=n1-n2
    print("The answer is",res)
    
def mul(n1,n2):
    res=n1*n2
    print("The answer is",res)
    
def div(n1,n2):
    res=n1/n2
    print("The answer is",res)
    
print("1.Addition 2.Substraction 3.Multiplication 4.Division")
ch=int(input("Enter your Choice"))
if(ch==1):
    add(n1,n2)
elif(ch==2):
    sub(n1,n2)
elif(ch==3):
    mul(n1,n2)
else:
    div(n1,n2)

Enter the First number4
Enter the Second number5
1.Addition 2.Substraction 3.Multiplication 4.Division
Enter your Choice1
The answer is 9

In [ ]:
Q.8)To check whether the given number is positive, negative or zero

In [27]:
n=int(input("Enter the number: "))
if(n<0):
    print("Number is Negative")
elif(n>0):
    print("Number is Positive")
else:
    print("Number is zero")

Enter the number: 0
Number is zero

In [ ]:
Q.9)Check whether the number is odd or even

In [31]:
n=int(input("Enter the number: "))
if(n%2==0):
    print("Number is even")
else:
    print("Number is odd")

Enter the number: 7
Number is odd

In [ ]:
Q.10)Find factorial of the number.

In [32]:
n=int(input("Enter the number: "))
fact=1
for i in range(n,1,-1):
    fact*=i
print("The factorial is %d"%(fact))

Enter the number: 5
The factorial is 120

In [ ]:
Q.11)To print the multiplication table

In [36]:
n=int(input("Enter the number: "))
for i in range(1,11):
    res=n*i
    print("%d * %d = %d"%(n,i,res))

Enter the number: 12
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

In [ ]:
Q.12)Print Fibonacci series

In [41]:
n=int(input("Enter the number of terms: "))
x=0
y=1
print("0,1,",end=" ")
for i in range(1,n):
    print("%d,"%(y),end=" ")
    sum=x+y
    x=y
    y=sum

Enter the number of terms: 10
0,1, 1, 1, 2, 3, 5, 8, 13, 21, 34,

In [ ]:
Q.13)Find largest and the smallest

In [46]:
a=int(input("Enter the First number: "))
b=int(input("Enter the Second number: "))
c=int(input("Enter the Third number: "))
if((a>b) and (a>c)):
    print("The largest numbers is %d"%(a))
elif((b>c) and (b>a)):
    print("The largest numbers is %d"%(b))
else:
    print("The largest numbers is %d"%(c))
if((a<b) and (a<c)):
    print("The Smallest numbers is %d"%(a))
elif((b<c) and (b<a)):
    print("The Smallest numbers is %d"%(b))
else:
    print("The Smallest numbers is %d"%(c))

Enter the First number: 5
Enter the Second number: 6
Enter the Third number: 7
The largest numbers is 7
The Smallest numbers is 5

In [ ]:
Q.14.a)Km to miles and vice versa

In [2]:
n=int(input("Enter the value"))
def km_to_mile(km):
    res=km*.62
    print("The converted value in mile is %d"%(res))

def mile_to_km(mile):
    res=mile/.62
    print("The converted value in mile is %d"%(res))


print("1.Km to Mile")
print("2.Mile to Km")
ch=int(input("Enter your choice"))
if(ch==1):
   # n= float(input("Enter the value in km"))
    km_to_mile(n)
else:
  #  n= float(input("Enter the value in mile"))
    mile_to_km(n)

Enter the value5
1.Km to Mile
2.Mile to Km
Enter your choice1
The converted value in mile is 3

In [ ]:
Q.14.b)Celcius to farenheit and vice versa

In [3]:
n=int(input("Enter the value"))
def c_to_f(c):
    res=c*(9/5)+32
    print("The converted value in fahreneit is %d"%(res))

def f_to_c(f):
    res=(f-32)*5/9
    print("The converted value in celcius is %d"%(res))


print("1.Celcius to farenheit")
print("2.Farenheit to celcius")
ch=int(input("Enter your choice"))
if(ch==1):
    c_to_f(n)
else:
    f_to_C(n)

Enter the value5
1.Celcius to farenheit
2.Farenheit to celcius
Enter your choice1
The converted value in fahreneit is 41

In [ ]:
Q.14.c)Decimal to Binary

In [5]:
n=int(input("Enter the value"))
def dec_to_bin(d):
    print("The converted value in binary is",bin(d))

def oct_to_hex(o):
    print("The converted value in hexadecimal is",hex(o))


print("1.decimal to binary")
print("2.ocatl to hexadecimal")
ch=int(input("Enter your choice"))
if(ch==1):
    dec_to_bin(n)
else:
    oct_to_hex(n)

Enter the value2
1.decimal to binary
2.ocatl to hexadecimal
Enter your choice1
The converted value in binary is %d 0b10